<h1 class="page-header">edit basket</h1>
<p>edit basket form goes here</p>

<%= form_for @basket, url: baskets_path do |basket| %>
  
  <div class="form-group">  
    <%= basket.label :category %>
    <%= basket.text_field :category %>
  </div>
  
  <div class="form-group"></div>
    <%= basket.label :time_frame %>
    <%= basket.number_field :time_frame %>
  </div>
  
  <div class="form-group">
    <%= basket.label :instructions %>
    <%= basket.text_field :instructions %>
  </div>

  
  <%= basket.submit "save" %>
<% end %>
  
  <% @items.each do |item| %>
    <%= item.name %>
  <% end %>


