<h1 class="page-header">edit basket</h1>

<%= link_to 'add item to this basket', new_basket_item_path(@basket.id) %>

<%= form_for @basket, url: basket_path(@basket.id) do |f| %>
  
   <div class="form-group">  
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">  
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>
  
  <div class="form-group"></div>
    <%= f.label :time_frame %>
    <%= f.number_field :time_frame %>
  </div>
  
  <div class="form-group">
    <%= f.label :instructions %>
    <%= f.text_field :instructions %>
  </div>


  <%= f.submit "save"  %>
<% end %>




