<h1 class="page-header">edit basket</h1>

<%= link_to 'add item to this basket', new_basket_item_path(@basket.id) %>

<%= form_for @basket, url: basket_path(@basket.id) do |f| %>
  
   <div class="form-group">  
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">  
    <%= f.label :category %>
    <%= f.select :category, options_for_select(['groceries', 'general', 'restaurant']) %>

  </div>
  
  <div class="form-group"></div>
    <b> Deliver By <b>
    <%= f.number_field :time_frame %><b>hour(s)</b>
  </div>
  
  <div class="form-group">
    <b> Special Instructions </b>
    <%= f.text_field :instructions %>
  </div>


  <%= f.submit "save"  %>
<% end %>

