<h1 class="page-header">edit basket</h1>
<p>edit basket form goes here</p>

<%= form_for @basket, url: baskets_path do |f| %>
  
  <div class="form-group">  
    <%= f.label :type %>
    <%= f.select :type, options_for_select("groceries", "restaurant", "other")%>
  </div>
  
  <div class="form-group"></div>
    <b> deliver in <b>
    <%= f.number_field :time_frame %> <b>hour(s)</b>
  </div>
  
  <div class="form-group">
    <b> special instructions </b>
    <%= f.text_field :instructions %>
  </div>

  <%= f.submit "save" %>
<% end %>
