
<h1 class="page-header">My baskets</h1>

<% @baskets.each do |basket| %>
  <div class="col-sm-3">
  <p>name: <%basket.name%></p>
  <p>category: <%= basket.category %></p>
  <p>instructions; <%= basket.instructions %></p>
  <p>deliver in <%= basket.time_frame %> minutes </p>
  <%= link_to "Pick up this basket", send_sms_path(basket.id) %>
  <% if user_signed_in? %>
    <p>edit</p>
    <%= link_to 'edit', edit_basket_path(basket.id) %>
  <% end %>
  </div>

<% end %>
  