<h1 class="page-header">create new basket</h1>
<p>new basket form goes here</p>

<%= form_for @basket do |f| %>
  
  <div class="form-group">  
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>
  
  <div class="form-group"></div>
    <%= f.label :time_frame %>
    <%= f.number_field :time_frame %>
  </div>
  
  <div class="form-group">
    <%= f.label :instructions %>
    <%= f.text_field :instructions %>
  </div>

  <%= f.submit "save" %>
<% end %>


  <%= link_to 'add item', new_basket_item_path(@basket.id, @item.id) %>
  <li><%= link_to 'Pick Up Baskets', baskets_path %></li>



