<h1 class="page-header">Create New Basket</h1>

<%= form_for @basket do |f| %>

  <div class="form-group">  

    <%= f.label :name %>
    <%= f.text_field :name %>

  </div>
  <div class="form-group">  

    <%= f.label :category %>
    <%= f.select :category, options_for_select(['groceries', 'general', 'restaurant']) %>

  </div>
  
  <div class="form-group"></div>
    <b> Deliver By <b>
    <%= f.number_field :time_frame %><b>hour(s)</b>
  </div>
  
  <div class="form-group">
    <b> Special Instructions </b>
    <%= f.text_field :instructions %>
  </div>

  <%= f.submit "save" %>
<% end %>

  <%= link_to 'add item', new_basket_item_path(@basket.id, @item.id) %>
  <li><%= link_to 'Pick Up Baskets', baskets_path %></li>

