<h1>edit item</h1>
<%= form_for @item, url: basket_items_path(@basket.id), :html => { :multipart => true } do |f| %>
	<%= f.label(:name)%>
	<%= f.text_field(:name)%>
	<br>
	<%= f.label(:quantity)%>
	<%= f.select :quantity, options_for_select(1..50)%>
	<br>
	<%= f.label(:brand)%>
	<%= f.text_field(:brand)%> (Optional)
	<br>
	<%= f.label(:instructions)%>
	<%= f.text_field(:instructions)%>	(Optional)
	<br>
	<%= f.submit("Edit Item")%>
<%end%>